body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    background-image: url("a.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container {
    text-align: center;
    background: linear-gradient(to right, rgba(255, 126, 95, 0.8), rgba(254, 180, 123, 0.8));
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
}

#clock {
    font-size: 3em;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.digit {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: monospace;
    background: #ffffff;
    padding: 10px;
    border: 2px solid #007BFF;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.digit span {
    display: block;
}

form {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
    width: 500px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 4px 4px 0;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#voice-search-btn {
    padding: 10px;
    font-size: 16px;
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    margin: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease, box-shadow 0.3s ease;
}

#voice-search-btn:hover {
    background: linear-gradient(135deg, #5a7cfb, #9a63d6);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}
